* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

// --- HEADER ---

.bg-img {
  min-height: 100vh;
  background-image: url("../image/layerMac.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1380px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;

  & .main-nav {
    padding: 15px;
    position: relative;

    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .lists {
      flex-grow: 5;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li {
          margin-left: 15px;
          list-style: none;

          a {
            display: inline-block;
            text-decoration: none;
            font-size: 15px;
            font-style: normal;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            color: #8d81ac;
          }

          a:hover {
            color: white;
          }
        }
      }
    }

    & .title-img {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 3;

      & .imgBx {
        position: relative;
        width: 43px;
        height: 43px;
        cursor: pointer;

        & img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        & img:hover {
          filter: brightness(0) invert(1);
        }
      }

      & h1 {
        padding-left: 20px;
        font-family: "Lato", sans-serif;
        font-size: 32px;
        color: #8d81ac;
        font-style: normal;
        font-weight: bold;
        margin: 0;
        cursor: pointer;
      }

      & h1:hover {
        color: white;
      }
    }

    .buy-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      background: #8d81ac;
      border-radius: 40px;
      color: white;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      height: 40px;

      & h3 {
        cursor: pointer;
      }
    }

    .buy-btn:hover {
      background-color: white;
    }
    .buy-btn:hover h3 {
      color: #8d81ac;
    }
  }
}
.info {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 210px;

  h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    color: #ffffff;
    margin: 0;
  }

  p {
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #8d81ac;
    margin: 0;
  }

  h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #848e97;
    margin: 0;
  }
}

.btn-bottom {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -54%);
  width: 390px;
  height: 62px;
  background: #8d81ac;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: #ffffff;
  }
}

.btn-bottom:hover {
  background-color: white;
}
.btn-bottom:hover h2 {
  color: #8d81ac;
}

header {
  h6 {
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translate(-50%, -54%);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #848e97;
    margin-top: 37px;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .container {
    .main-nav {
      background: #27262a;

      height: 14vh;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      background: #27262a;

      & .title-img {
        flex-grow: 1;
      }
      & .buy-btn {
        flex-grow: 0.2;
      }

      & .lists {
        order: 3;
        flex-basis: 992px;
        padding-right: 22px;
        padding-left: 22px;

        ul {
          padding: 0;
        }
      }
    }
  }

  .info {
    margin-top: 10px;
    height: 170px;

    h1 {
      font-size: 55px;
    }

    p {
      font-size: 22px;
      text-align: center;
    }

    h5 {
      font-size: 13px;
    }
  }
}

@media (min-width: 320px) and (max-width: 482px) {
  .bg-img {
    min-width: 320px;
  }
  header {
    & .btn-bottom {
      width: 80%;
      h2 {
        font-size: 17px;
        text-align: center;
        padding-top: 5px;
      }
    }
  }
  .container {
    .main-nav {
      height: 8vh;
      display: flex;
      align-items: center;
      width: 100%;
      height: 14vh;
      background: #27262a;
      padding-top: 15px;
      z-index: 20000;
      padding-right: 120px;

      & .burger {
        position: absolute;
        top: 48.5%;
        right: 0%;
        transform: translateY(-50%);
        margin-right: 16px;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        & .line {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          width: 25px;
          height: 1.5px;
          padding-bottom: 3px;
          background-color: white;
          transition: all 0.5s ease;
          border-radius: 5px;

          &:nth-child(1) {
            width: 16px;
            position: absolute;
            top: 30%;
            left: 60%;
          }
          &:nth-child(3) {
            position: absolute;
            top: 70%;
            left: 50%;
          }
        }
        & .line1Active {
          opacity: 0;
        }

        & .line2Active {
          display: inline-block;
          transform: rotateZ(45deg) translate(-44%, 375%);
        }

        & .line3Active {
          display: inline-block;
          transform: rotateZ(-45deg) translate(-21%, -548%);
        }
      }

      & .title-img {
        flex-grow: 1;
        h1 {
          display: none;
        }
      }
      & .buy-btn {
        flex-grow: 6;
      }

      & .lists {
        padding: 0px 10px 0px 10px;
        transition: all 0.5s ease;

        & .dropDownUlList {
          transform: scaleY(1);
        }

        ul {
          padding: 0;
          position: absolute;
          top: 78%;
          left: 5%;
          transform: translateX(-50%);
          width: 90%;
          height: 370px;
          background: #333333;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          z-index: 2;
          transform: scaleY(0);
          transform-origin: 50% 0%;
          transition: all 0.5s ease;

          li {
            position: relative;
            width: 100%;
            text-align: left;
            margin: 0;
            padding-bottom: 30px;
            padding-top: 10px;
            border-bottom: 2px solid #3b3b3b;
            a {
              color: white;
              font-size: 26px;
              font-weight: 200;
              margin-left: 40px;
            }

            a:focus {
              color: #8d81ac;
            }

            a:focus:before {
              content: "";
              position: absolute;
              top: 22%;
              left: 0%;
              width: 7px;
              transform: translateY(-10px);
              height: 44px;
              background-color: #8d81ac;
            }
          }
        }
      }
    }

    .main-nav:before {
      position: absolute;
    }
  }
  .info {
    margin-top: 20px;
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;

    h1 {
      font-size: 60px;
    }

    p {
      width: 300px;
      margin: 0 auto;
      font-size: 22px;
      text-align: center;
    }

    h5 {
      margin: 0;
      font-size: 12px;
    }
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .container {
    .main-nav {
      padding-right: 100px;
    }
  }
}
